.sidebar {
    width: 250px;
    background-color: var(--sidebar-bg-light);
    border-right: 1px solid var(--border-color-light);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease, padding 0.3s ease;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 0;
    padding: 20px 0;
}

.theme-dark .sidebar {
    background-color: var(--sidebar-bg-dark);
    border-right: 1px solid var(--border-color-dark);
}

.sidebar h3 {
    margin-top: 0;
    white-space: nowrap;
}

.sidebar .diagram-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar .diagram-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.diagram-name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar .diagram-item:hover {
    background-color: var(--background-color-light);
}

.theme-dark .sidebar .diagram-item:hover {
    background-color: var(--background-color-dark);
}

.sidebar .delete-btn {
    background: none;
    border: none;
    color: #e53e3e;
    cursor: pointer;
    padding: 0 5px;
    margin-left: 10px;
}
